:root {
    --gray-dark-mode: #555; 
    --white-mode-gray: #ccc;
}

@font-face {
    font-family: LexendDeca;
    src: url(assets/LexendDeca-SemiBold.ttf);
}

body {
    font-family: LexendDeca, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.5s, color 0.5s;
}
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: relative;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #ddd;
}
body.dark-mode nav ul li a {
    color: #ddd;
}
body.dark-mode nav ul li a:hover {
    color: #ccc;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 80px;
}
.section {
    padding: 2em 0;
    border-bottom: 1px solid var(--white-mode-gray);
    text-align: center;
    align-items: center;
}
#home { border-top: 1px solid var(--white-mode-gray);}
body.dark-mode .section {
    border-bottom-color: var(--gray-dark-mode);
}
body.dark-mode #home {
    border-top-color: var(--gray-dark-mode);
}
.section h2 {
    text-align: center;
    margin-bottom: 1em;
}
h1 {
    font-size: 4.5em;
    margin: 0;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.dark-mode-footer {
    background-color: #fff;
    color: #000;
}
.applications ul {
    list-style: none;
    padding: 0;
}
.applications ul li {
    margin: 10px 0;
    text-align: center;
}
.applications ul li a {
    text-decoration: none;
    color: #333;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}
.applications ul li a:hover {
    background: #bbb;
}
body.dark-mode .applications ul li a {
    color: #f4f4f4;
    background: #555;
}
body.dark-mode .applications ul li a:hover {
    background: #777;
}
ul {
    list-style-type: "";
}
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
    .container {
        width: 95%;
    }
    h1 {
        font-size: 3em;
    }
}
.theme-switch {
    position: fixed;
    top: 10px;
    right: 10px;
}
.theme-switch input {
    display: none;
}
.theme-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}
.theme-switch label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
.theme-switch input:checked + label {
    background: #bada55;
}
.theme-switch input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
label:active:after {
    width: 45px;
}
a {
    color: #007aff;
}
body.dark-mode a {
    color: #3b78e7;
}


.separator {
    border: none;
    height: 0.5px;
    background-color: #ffffff;
    margin: 20px 0;
}

h3{
    text-align: center;
    align-items: center;
}